.recleaner {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 20px;

    .recleaner__item {
      border: 2px solid #17499c;
      padding: 10px;
      border-radius: 20px;
      transition: 0.3s ease;

      &:hover {
        transition: .3s ease;
        background: #17499c;
      }

      img {
        width: 60px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .recleaner__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 40px;
      gap: 10px;
      margin-bottom: 30px;

      img {
        width: 100%;
        border-radius: 50%;
      }

      .recleaner__title {
        font-weight: 700;
        font-size: 38px;
        line-height: 42px;
      }
    }

    .recleaner__subtitle {
      display: block;
      font-weight: 500;
      font-size: 32px;
      line-height: 28px;
      margin-bottom: 10px;
    }

    .recleaner__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 2px;
      margin-bottom: 50px;
      z-index: -10;
    }

    .recleaner__user {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .recleaner__count {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
    }

    .recleaner__btn {
      background: none;
      margin-bottom: 20px;
      display: inline-block;

      .recleaner__link {
        border: 2px solid #17499c;
        padding: 10px 20px;
        border-radius: 20px;
        transition: .3s ease-in-out;

        &:hover {
          transition: .3s ease;
          background: #17499c;
        }
      }
    }
  }

  &__image {
    max-width: 520px;
    perspective: 1000px;

    img {
      width: 100%;
      position: relative;
      inset: 0;
      transform-style: preserve-3d;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
      transition: transform 1s ease, z-index 0.6s ease;

      &:nth-child(1) {
        position: relative;
        z-index: 3;
        left: 0;
        transform: translateZ(30px) rotateY(10deg);
        transition: transform 1s ease-in-out;

      }

      &:nth-child(2) {
        position: absolute;
        z-index: 2;
        left: -25%;
        transform: translateZ(20px) rotateY(10deg);
        transition: transform 1s ease-in-out;

      }

      &:nth-child(3) {
        position: absolute;
        z-index: 1;
        left: -58%;
        transform: translateZ(10px) rotateY(10deg);
        transition: transform 1s ease-in-out;

      }

      &:hover {
        transform: translateZ(0) rotateY(0) scale(1.1);
        z-index: 5;
        transition: transform 1s ease, z-index 0.6s ease;
      }
    }
  }

}