.footer {
  background: var(--background2);
  padding: 50px 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.footer__contact {
  display: flex;
  align-items: center;
  gap: 10px;
}
